{% if topics_list %}
    {% for topic in topics|slice:":10" %}
        <a href="{% url 'product_detail_topic' pk=products.0.number topic_safe=topic.topic_safe %}"><button type="submit" class="btn btn-primary p-3 px-xl-3 py-xl-1">{{ topic.topic }} ({{ topic.freq_topic }})</button>
    {% endfor %}
{% else %}
    keine bisher registrierten Themen 
{% endif %}
                <!--<table style="width:50%">
                    <colgroup>
                        <col width="33%">
                        <col width="33%">
                        <col width="33%">
                    </colgroup>
                    <tr>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.0 }} ({{ topics_number.0}})</div></a></td>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.1 }} ({{ topics_number.1}})</div></a></td>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.2 }} ({{ topics_number.2}})</div></a></td>
                    </tr>
                    <tr>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.3 }} ({{ topics_number.3}})</div></a></td>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.4 }} ({{ topics_number.4}})</div></a></td>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.5 }} ({{ topics_number.5}})</div></a></td>
                    </tr>
                    <tr>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.6 }} ({{ topics_number.6}})</div></a></td>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.7 }} ({{ topics_number.7}})</div></a></td>
                        <td><a href="#"><div style="font-size:10px; color:#ffffff; background-color:#d21929; text-align:center; width:100%">{{ topics_list.8 }} ({{ topics_number.8}})</div></a></td>
                    </tr>
                </table>-->
                