{% extends "reviews/index.html" %}
{% load static %}

{% block title %}Produkte{% endblock %}
{% block main_heading %}Produkte{% endblock %}

{% block content %}

<section class="ftco-section">
    <div class="container">
        <div class="row">
            {% for product in products %}
            
                    <div class="col-md-4">
                        <div class="blog-entry ftco-animate">
                            <a href="{% url 'product_detail_sort' pk=product.number sort='default' %}" class="img img-2" style="background-image: url({% get_static_prefix %}images/{{ product.number }}.jpg);"></a>
                            <div class="text text-2 pt-2 mt-3">
                                <h3 class="mb-4"><a href="{% url 'product_detail_sort' pk=product.number sort='default' %}">{{ product.name }}</a></h3>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
