{% extends "reviews/index.html" %}
{% load static %}

{% block title %}Bewertungsübersicht {{ review.product_number.number }}{% endblock %}
{% block main_heading %}Bewertungsübersicht Produkt {{ review.product_number.number }}{% endblock %}

{% block content %}
{% if reviews %}
{% for review in reviews %}
    <div>
        <h2><a href="">{{ review.product_number.name }} ({{ review.product_number.number }})</a></h2>
        <p>Von {{ review.author }}</p>
        <p>Datum: {{ review.date }}</p>
        <p>{{ review.text|linebreaksbr }}</p>
    </div>
    <a href="{% url 'review_new' product=review.product_number.number %}"><button type="submit" class="btn btn-primary p-3 px-xl-4 py-xl-3">bewerte das Produkt</button></a>
{% endfor %}
{% else %}
keine Bewertungen bisher

{% endif %}
{% endblock %}
