{% extends "reviews/index.html" %}
{% load static %}

{% block title %}Bewertungsübersicht {{ products.0.name }}{% endblock %}
{% block main_heading %}Bewertungsübersicht {{ products.0.name }} ({{ products.0.number }}){% endblock %}

{% block content %}
<table cellpadding="10">
    <colgroup>
        <col width="25%">
        <col width="75%">
    </colgroup>
    <tr>
        <td valign="top">
            <img src="{% get_static_prefix %}images/{{ products.0.number }}.jpg" alt="" title="" width="100%" /><br /><br />
        </td>
        <td valign="top"><h3>Durchschnittliche Bewertung</h3>
            {% include "reviews/display_stars.html" %}
            <br>
            <a href="{% url 'review_new' product=products.0.number %}"><button type="submit" class="btn btn-outline-danger p-3 px-xl-3 py-xl-1">bewerte das Produkt</button></a>
            </td>
    </tr>
</table>
<hr>
<table cellpadding="10"><tr><td>
        <a href="{% url 'product_detail_sort' pk=products.0.number sort='default'%}"><button type="submit" class="btn btn-light p-3 px-xl-3 py-xl-1">Filterung nach Sternen aufheben</button></a>
        <br><br>
            <h3>{{ star }}-Sterne-Bewertungen</h3>
            {% include "reviews/display_reviews.html" %}
            {% include "reviews/pagination.html" with page=reviews %}
        </td></tr></table>

{% endblock %}
