{% extends "reviews/index.html" %}
{% load static %}

{% block title %}Bewertungsübersicht{% endblock %}
{% block main_heading %}Bewertungsübersicht{% endblock %}

{% block content %}
{% for review in reviews %}
    <div>
        <h2><a href="{% url 'product_detail' pk=review.product_number.number %}">{{ review.product_number.name }}</a></h2>
        <p>Von {{ review.author }}</p>
        <p>Datum: {{ review.date }}</p>
        <p>{{ review.text|linebreaksbr }}</p>
    </div>
{% endfor %}
{% endblock %}
